# dependencies
**/node_modules/

# env files (ignore all)
.env
.env.*
**/.env
**/.env.*

# build output
**/dist/
**/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Next.js build
**/.next/
out/

# optional
coverage/
